button {
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #4394ff; /* Light shade of blue */
    transition: background-color 0.1s ease; /* Smooth transition */
    color: #fff; /* White color */
    padding: 0.2em 0.5em;
}

button:hover {
    background-color: #0059ad;
}

button.secondary {
    background-color: #b0b0b0; 
    color: #000;
}

button.secondary:hover {
    background-color: #808080; 
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
}

input {
    margin-right: 4px;
}

.notes {
    width: calc(80% - 8em);
}
