button, label {
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 5px;
    border: #000, 1px, solid;
    transition: background-color 0.1s ease; /* Smooth transition */
    padding: 0.2em 0.5em;
    font: 0.75em sans-serif;
}

.primary {
    background-color: #4394ff;
    color: #fff;
}

.primary:hover {
    background-color: #0059ad;
}

.warning {
    background-color: #ffce1e;
    color: #fff;
}

.warning:hover {
    background-color: #cfa719;
}

.secondary {
    background-color: #b0b0b0;
}

.secondary:hover {
    background-color: #808080;
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
}

input {
    margin-right: 4px;
}

.notes {
    width: calc(80% - 8em);
}
